<%= provide(:title, 'Lecceed') %>

<div class='wrapper clearfix'>
    <div class='top-page'>
        <h2 class='catch-copy'>「履修登録」のすべてをオープンに</h2>
        <p class='sub-message'>Lecceedは、大学の講義をオープン化したプラットフォームです</p>
    </div>
</div>

<div class='third-message'>
    Lecceedは各大学の講義情報を提供し<br>
    満足のいく履修登録をサポートするサービスです
</div>

<ul class='three-values-wrapper'>
    <li class='value-item'>
        <div class='value-icon'>
            <i class='fa fa-search'></i>
        </div>
        <div class='value-title'>
            豊富な講義情報
        </div>
        <div class='value-document'>
            従来のシラバスだけでは分からなかった
            授業満足度、平均得点、得単率など
            より詳細な情報を得ることが出来ます。
        </div>
    </li>
    <li class='value-item center'>
        <div class='value-icon'>
            <i class='fa fa-list-alt'></i>
        </div>
        <div class='value-title'>
            講義検索機能
        </div>
        <div class='value-document'>
            大学が提供する膨大な講義の中から
            自分の希望条件にマッチするものを
            抽出することが出来ます。
        </div>
    </li>
    <li class='value-item'>
        <div class='value-icon'>
            <i class='fa fa-comments'></i>
        </div>
        <div class='value-title'>
            コメント機能
        </div>
        <div class='value-document'>
            受講しないと分からなかった情報も
            先輩のコメントを参考にすることで
            よりリアルに知ることが出来ます。
        </div>
    </li>
</ul>

<div class='button-wrapper'>
    <p class='theme'>会員登録はこちらから</p>
    <p class='sub-theme'>所要時間: 1min</p>
    <a class='bton-signup' href='/signup'>新規会員登録</a>
    <a class='third-theme' href='/login'>登録済の方はこちらからログインして下さい</a>
</div>

<div class='news-wrapper'>
    <div class='theme'>
        お知らせ
    </div>
    <ul class='news-items'>
        <a class='news-item' href=#>
            <p class='created-at'>2020年3月</p>
            <p class='news-title'>Leceedをリリースしました！</p>
        </a>
        <a class='news-item' href=#>
            <p class='created-at'>2020年3月</p>
            <p class='news-title'>Leceedをリリースしました！</p>
        </a>
        <a class='news-item' href=#>
            <p class='created-at'>2020年3月</p>
            <p class='news-title'>Leceedをリリースしました！</p>
        </a>
    </ul>
</div>