<footer class='footer clearfix'>
    <div class='footer-items'>
        <ul>
            <a href='#' class='footer-item'><li>利用規約</li></a>
            <a href='#' class='footer-item'><li>プライバシーポリシー</li></a>
            <a href='#' class='footer-item'><li>お問い合わせ</li></a>
        </ul>
    </div>
    <p>@copyright Lecceed</p>
</footer>
